@font-face {
  font-family: "LowresPixel";
  src: url("assets/font/LowresPixel-Regular.otf") format("opentype");
}

a {
  text-decoration: none;
}

:root {
  --bg-color: #0b0f1a;
  --text-color: #e6e6e6;
  --border-color: #e6e6e6;
}

body.light {
  --bg-color: #e6e6e6;
  --text-color: #0b0f1a;
  --border-color: #0b0f1a;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg-color);
  font-family: "LowresPixel", monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 96vw;
  height: 96vh;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  border-bottom: 2px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 8%;
}

.menu{
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.side__menu{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 8%;
  background: #222;
  color: white;
  padding: 1.5rem;
  transition: 0.3s ease;
}

.side__menu.active{
  right: 0;
}


.navbar__title {
  color: var(--text-color);
  margin: 0;
  font-size: 2rem;
}

.search__box{
  display: flex;
}



.search__box input {
  font-family: "LowresPixel", monospace;
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: inherit;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition:
    transform 0.1s,
    background 0.2s,
    color 0.2s;
}

.search__button:active{
  transform: scale(1.1);
}

input::placeholder {
  color: var(--text-color);
}

input:focus{
  outline: none;
}
.theme__toggle {
  background: transparent;
  margin-left: 1rem;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: inherit;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition:
    transform 0.1s,
    background 0.2s,
    color 0.2s;
}

.theme__toggle:active {
  transform: scale(1.1);
}

@media (max-width:550px){
  .theme__toggle, .search__box input{
    display: none;
  }
  .menu{
    display: block;
  }
}

.content__collections {
  height: 80%;
}

.content__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
  align-items: center;
}
.box {
  width: 20vh;
  height: 25vh;
  margin: 0;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media (max-width: 400px) {
  .box {
    flex: 1 1 80%;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 15%;
}

.page__btn {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: inherit;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  transition:
    transform 0.1s,
    background 0.2s,
    color 0.2s;
  background-color: var(--bg-color);
}

.page__btn:active {
  transform: scale(1.1);
}

#pageNumber {
  display: inline-block;
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.footer {
  border-top: 2px solid var(--border-color);
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 0.8rem;
  background-color: var(--bg-color);
}

.footer__logo {
  display: flex;
  height: 100%;
  width: 6rem;
  justify-content: center;
  align-items: center;
  margin: 0 1.3rem;
}

.footer__logo img {
  height: 1.5rem;
  margin: 0.5rem;
}

.light .footer__logo img {
  filter: invert(1);
}

.footer__logo :active{
  transform: scale(1.1);
}