@font-face {
  font-family: 'LowresPixel';
  src: url('assets/font/LowresPixel-Regular.otf') format('opentype');
}

a {
  text-decoration: none;
}

:root {
  --bg-color: black;
  --text-color: white;
  --border-color: white;
}

body.light {
  --bg-color: white;
  --text-color: black;
  --border-color: black;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg-color);
  font-family: 'LowresPixel', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.frame {
  width: 96vw;
  height: 96vh;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  border-bottom: 2px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 8%;
}

.navbar__title {
  color: var(--text-color);
  margin: 0;
  font-size: 2rem;
}

.theme__toggle {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: inherit;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition: transform 0.1s, background 0.2s, color 0.2s;
}

.theme__toggle:active {
  transform: scale(1.1);
}

.content__collections {

  height: 80%;
  
}

.content__square{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
  align-items: center;
  

}
.square{
  width: 20vh;
  height: 25vh;
  margin: 0;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.square img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .square img{
  width: 12%;
  aspect-ratio: 1/1;
} */

@media (max-width: 400px){
  .square{
    flex: 1 1 80%;

  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 15%;
  
}

.page__btn {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: inherit;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  transition: transform 0.1s, background 0.2s, color 0.2s;
  background-color: var(--bg-color);
}

.page__btn:active {
  transform: scale(1.1);
}

#pageNumber {
  display: inline-block;
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.footer {
  border-top: 2px solid var(--border-color);
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 0.8rem;
  background-color: var(--bg-color);
}

.footer__logo {
  display: flex;
  height: 100%;
  width: 6rem;
  justify-content: center;
  align-items: center;
  margin: 0 1.3rem;
}

.footer__logo img{
  height: 1.5rem;
  margin: .5rem;
}

.light .footer__logo img{
  filter:invert(1);
}