@font-face {
  font-family: 'LowresPixel';
  src: url('assets/font/LowresPixel-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  font-family: 'LowresPixel', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 96vw;
  height: 96vh;
  box-sizing: border-box;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  position: relative;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar__title {
  position: relative;
  color: white;
  margin: 0;
  font-size: 2.5rem;
  z-index: 2;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content__collections{
  flex: 2;
  border-bottom: 2px solid white;
}

.footer {
  border-top: 2px solid white;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}
